# GAMASI: Generic Asynchronous Multi-Agent Simulation Invoker

## Running simulation

In [1]:
import numpy as np

from src.Lab import Lab

lab = Lab()

In [2]:
simulation = lab.experiment(
    height=2000, width=2000,
    initial_population_count=100,
    max_total_duration=60, max_simulation_duration=10
)

Generating universe...	: Done in 1.917 s

Generating positions	: 100%|██████████| 100/100 [00:00<00:00, 194450.81it/s]
Invoking population	: 100%|██████████| 100/100 [00:00<00:00, 43302.75it/s]
Starting population	: 100%|██████████| 100/100 [00:00<00:00, 10203.88it/s]
Running simulation	: 100%|██████████| 10/10 [00:10<00:00,  1.00s/it]

Interrupting population	: 1553...
			| 1032...
			| 469...
Simulation succeed...	: Returning data... Done in 12.333 s

## Analysis

### Gathering data

In [3]:
data = lab.gather_data(simulation)

Computing agents statistics	: 100%|██████████| 4558/4558 [00:00<00:00, 50459.62it/s]
Gathering timelines		: 100%|██████████| 4558/4558 [00:00<00:00, 4186955.24it/s]

In [4]:
data["agents_statistics"]

,generation,parents_count,dead,lifespan,children_count,birth_success,travelled_distance,actions_count,mean_decision_duration,mean_action_duration,mean_round_duration
id,,,,,,,,,,,
0,0,1,True,930520797,2,True,65,101,36018.306931,4.470047e+06,9.303088e+06
1,0,1,True,164662995,0,True,53,65,31082.676923,1.025722e+04,2.569281e+06
2,0,1,True,1057386889,1,True,119,167,34922.000000,1.443276e+06,6.347344e+06
3,0,1,True,219694681,1,True,15,19,37572.000000,6.540738e+06,1.199362e+07
4,0,1,True,848378797,2,True,45,84,37588.309524,3.959402e+06,1.017620e+07
...,...,...,...,...,...,...,...,...,...,...,...
4553,6,1,False,22103517,0,True,1,0,NaN,NaN,NaN
4554,5,1,False,21967792,0,True,1,0,NaN,NaN,NaN
4555,8,1,False,21818231,0,True,1,0,NaN,NaN,NaN
4556,6,1,False,21663450,0,True,1,0,NaN,NaN,NaN
4557,7,1,True,21130,0,False,0,0,NaN,NaN,NaN

In [5]:
data["population_statistics"]

                                mean        median           std
data
lifespan                1.811285e+09  1.584780e+08  2.737029e+09
children_count          9.780606e-01  0.000000e+00  1.683140e+00
birth_success           7.314612e-01  1.000000e+00  4.432480e-01
travelled_distance      1.079399e+01  1.000000e+00  2.119947e+01
actions_count           3.101667e+01  4.000000e+00  6.272621e+01
mean_decision_duration  4.014297e+04  3.486183e+04  2.219939e+05
mean_action_duration    6.122820e+07  5.287467e+07  6.122619e+07
mean_round_duration     3.063762e+07  1.046211e+07  3.474223e+07

### Visualization

In [6]:
import imageio

timeline = lab.generate_actions_timeline(time_step=1e6)
images = []
from matplotlib import pyplot as plt

for t in timeline:
    images.append(t)

AttributeError: type object 'Agent' has no attribute 'population'

In [ ]:
imageio.mimsave("results/output.gif", images, duration=0.01, loop=0)